body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Format legend box with specified settings */
.legend {
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
}
/* Format for legend items */
.legend i {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 1;
}

.legend p {
  margin-top: 0;
  margin-bottom: 20px;
}